<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes Posts</h2>
      
      <ul class="list-group">

        <app-post-list
        [posts]="Posts" 
        > 
      </app-post-list>       
    </ul>
    
    <div class="text-center" >
      <button  (click)="add()" class="btn btn-primary"> Ajouter un post</button>
    </div>
    <br>   
    <div  *ngIf="show" class="row">
      <div class="form-group">
        <label>Titre</label>

        <input type="text"  class="form-control"  [(ngModel)]="MyPost.title">
      </div>
      <div class="form-group">
 
        <label>Contenu</label>
        <textarea class="form-control"   [(ngModel)]="MyPost.content"></textarea> 
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="addPost()" > Add </button>
      </div>
    </div>


  </div>
</div>
</div>
